@using Selftaught.Web.ViewModels.Home
@model HomePageDataViewModel

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>Welcome to Selftaught!</h2>
    <p>A place to learn a new language with no deadlines, pressure, or teachers.</p>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="list-group">
            <div class="list-group-item">
                <h4 class="list-group-item-heading">You choose what language to learn next</h4>
                <p class="list-group-item-text">It is up to you what language to take up, or leave behind. You can study multiple languages at once, if you like.</p>
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">You plan your own studies</h4>
                <p class="list-group-item-text">You are able to study as much, or as little, as you like at any time. You might study all day today. Or not study at all!</p>
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">We just nudge you along..</h4>
                <p class="list-group-item-text">We make sure you don't forget entirely about your studies in subtle little ways. Just so you don't lose your edge.</p>
            </div>
        </div>

        <p class="lead">Go teach yourself!</p>
    </div>

    <div class="col-md-3 pull-right text-center">
        @Html.Action("GetTopWords", "Words", new { area = string.Empty })
        @Html.Action("GetLatestUsers", "Users", new { area = string.Empty })
    </div>
</div>