@model IEnumerable<Selftaught.Data.Models.ViewModels.WordDetailedViewModel>

@{
    ViewBag.Title = "Home";
}

@foreach (var word in @Model)
{
    <div class="row">
        <div class="col-sm-6">
            @word.Name
        </div>
        <div class="col-sm-6">
            @string.Join(", ", word.Translations.Select(t => t.Meaning))
        </div>
    </div>
}