@model IEnumerable<Selftaught.Data.Models.Word>

@{
    ViewBag.Title = "Home";
}

@foreach (var word in @Model)
{
    <div class="row">
        <div class="col-sm-6">
            @word.Name
        </div>
        <div class="col-sm-6">
            @word.Translations.Select(t => t.Meaning).Aggregate((m1, m2) => m1 + ", " + m2)
        </div>
    </div>
}