@using Selftaught.Web.ViewModels.Words
@using System.Collections.Generic
@model IEnumerable<WordShortViewModel>

@{
    var totalCount = Model.Count();
    var firstColCount = totalCount / 2;
    var leftColElems = totalCount > 1 ? Model.Take(firstColCount) : Model.Take(totalCount);
    var rightColElems = totalCount > 1 ? Model.Skip(firstColCount) : Model.Take(0);
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Most mistaken words</h3>
    </div>
    <div class="panel-body">
        <div class="row">

            @if (@Model.Any() == false)
            {
                <span>There are no words in this language</span>
            }
            else
            {
                <div class="col-md-6">
                    @foreach (var elem in leftColElems)
                    {
                         <div class="row">@elem.Translations.FirstOrDefault()</div>
                    }
                </div>
                
                <div class="col-md-6">
                    @foreach (var elem in rightColElems)
                    {
                        <div class="row">@elem.Translations.FirstOrDefault()</div>
                    }
                </div>
            }
        </div>
    </div>
</div>