@{
    ViewBag.Title = "Learn new words in " + Session["language"];
}

@if (Session["language"] == null)
{
    <h2>Please select a language</h2>
}
else
{
    <div class="row">
        <h2>Learn new words in @Session["language"]!</h2>
    </div>
    
    <div class="row">

    </div>
}

