@model string

<div class="form-group">
    @Html.LabelFor(m => m, new { @class = "control-label col-md-2" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m, new { @class = "form-control" })
    </div>
</div>