@using System.Collections.Generic;
@using Selftaught.Data.Models;
@model IEnumerable<string>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Latest users</h3>
    </div>
    <div class="panel-body">

        @if (@Model.Any() == false)
        {
            <span>There are no registered users yet.</span>
        }
        else
        {
            foreach (var userName in @Model)
            {
                <div class="row">
                    @userName
                </div>
            }
        }
    </div>
</div>