<ul class="nav navbar-nav pull-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Words<b class="caret"></b></a>
        <ul class="dropdown-menu ">
            <li class="text-center">@Html.ActionLink("View Mine", "Index", "Words")</li>
            <li class="text-center">@Html.ActionLink("Add Word", "Add", "Words")</li>
            <li class="text-center">@Html.ActionLink("Edit Word", "Edit", "Words")</li>
            <li class="text-center">@Html.ActionLink("Dictionary", "Dictionary", "Words")</li>
        </ul>
    </li>
</ul>
