@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Oops...";
}

<h1 class="text-danger">Something went horribly wrong!</h1>
<h2 class="text-danger">The resource you are trying to access is under construction.</h2>